.form-parts-selector-area {
    display: flex;
    margin-bottom: 40px;
}

.form-parts-selector-item {
    width: 200px;
    padding: 10px 20px;
    border: 1px solid #666;
    margin-right: 10px;
    text-align: center;
}

.form-parts-selector-item.active {
    background-color: #0e0e0e;
    color: #fff;
}

.image-section {
    margin-bottom: 20px;
}

.partner-gallery .row  .image_container img {
    max-width: 100% !important;
    height: auto;
}

.has-button-overlay {
    position: relative !important;
    border: 1px solid #b3b3b3;
}

.has-button-overlay .button-overlay {
    position: absolute;
    bottom: 20px;
    left: 20px;
    display: flex;
}

.has-button-overlay .button-overlay > * {
    margin-right: 5px;
    font-size: 16px;
}