.form-parts-selector-area {
    display: flex;
    margin-bottom: 40px;
}

.form-parts-selector-item {
    width: 200px;
    padding: 10px 20px;
    border: 1px solid #666;
    margin-right: 10px;
    text-align: center;
}

.form-parts-selector-item.active {
    background-color: #0e0e0e;
    color: #fff;
}
.partner-gallery {
    position:relative;
}

.partner-gallery.row > div > img{
    max-width: 100% !important;
height: auto;
}
.partner-gallery-thumb-buttons-container{
    position: absolute;
    bottom: 10px;
    right: 10px;
    display: flex;
}

.partner-gallery-thumb-buttons-container > *{
    margin-right: 5px;
    font-size: 16px;
}